<app-navbar></app-navbar>
<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-1">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="assets/images/logo.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-primary"><b>Atlassian</b></h1>
                            <p class="detail">
                                Atlassian Corporation is an Australian software company that develops products for software developers, 
                                project managers and other software development teams. The company is domiciled in Delaware, with global 
                                headquarters in Sydney, Australia, and US headquarters in San Francisco.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
    </div>
  
  </div>
  <!-- End Banner Hero -->
  
  
  <!-- Start Categories of The Project Management Tools -->
  <section class="container py-3">
    <div class="row text-center pt-2">
        <div class="col-lg-6 m-auto">
            <h1 class="h1 text-primary">Project Management Tools</h1>
            <p>
                It's not unusual to feel the stress of managing a project. 
                Big or small, a tough project can leave you emotionally (and maybe physically) scarred
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-1">
            <a href="#"><img src="assets/images/jira.png" class="card-img-top"></a>
           
        </div>
        <div class="col-12 col-md-4 p-5 mt-1">
            <a href="#"><img src="assets/images/trello.png" class="card-img-top"></a>
            
        </div>
        <div class="col-12 col-md-4 p-5 mt-2">
            <a href="#"><img src="assets/images/confluence.png" class="card-img-top mt-4"></a>
            
        </div>
    </div>
  </section>
  <!-- End Categories of The Project Management Tools -->
  
  
  <!-- Start Featured Product -->
  <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 text-primary">Atlassian Product Family</h1>
                <p>
                    The Atlassian product family includes the following Atlassian-owned and operated products,
                     including the web apps and mobile apps that may be associated with each product. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="card h-100">
                    
                        <img src="assets/images/bamboo.png" class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <img src="assets/images/logo-gradient-blue-bamboo.png" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card h-100">
                    
                        <img src="assets/images/bitbucket.png" class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <img src="assets/images/logo-gradient-blue-bitbucket.png" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card h-100">
                    
                        <img src="assets/images/cruible.png" class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <img src="assets/images/logo-gradient-blue-crucible.png" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </section>
  <!-- End Featured Product -->